.table{
    margin: 25px;
    flex: 1;
}

.contenedorTabla{
    width: 50%;
    flex: 1;
}

.contenedorImg{
    width: 30%;
    flex: 1;  
}

.jugadores {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.img_seleccion{
    margin-left: 50px;
    margin-top: 25px;
    width: 90%;
    height: auto;
    justify-content: flex-start;
}

h1{
    margin: 20px;
    padding: 20px;
    color: #0f428a;
    font-weight: bolder;
}
p{
    margin-right: 20 px;
    margin-left: 20px;
    padding-left: 20px;
    font-weight: bolder;
}

body{
    background-color: #deedfc;  
}

.contenedorTablaClubes{
    width: 80%;
    margin-left: 80px;
}

a {
  color: #ffffff;
}

.fichaJugador{
    width: 50%;
    background-color: #c4dcf4;
    font-size: 25px;
}

.contenedorFichaCopa{
    width: 100%;
    display: flex;
    margin: 15px;
    margin-left: 50px;
}
.copa{
    width: 50%;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes{
    border-radius: 30%;
    width: 45%;
}

.contenedorTabla {
    width: 100%;
}

.boton1, .boton2, .boton3, .boton4{
    position: absolute;
    width: 5%;
}

.boton1{
    left: 770px;
}
.boton2{
    left: 870px;
}
.boton3{
    left: 970px;
}
.boton4{
    left: 1070px;
}

.arg1, .arg2{
    position: absolute;
}

.arg2{
    right: 670px;
    width: 3%;
}
.arg1{
    left: 705px;
    width: 3%;
}
.card-body{
    margin-bottom: 35px;
}
.tituloForm{
    display: flex;
    justify-content: center;
}
.formAgregarClub, .formularioClubes{
    display: flex;
    flex-direction: column;
    padding-left: 400px;
    padding-right: 400px;
    margin-right: 125px;
}
.formLogin, .formJugadores{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formJugadores{
   font-size:larger;
   font-weight: bold;
}
.botonera{
    background-color: #226dd6;
}

